body{
    background-color: #f5f9fa;
}

footer{
    position: absolute;
    bottom: 5%;
    width: 80%;
}

.top-navabar-extension {
    background-color: #070f3d;
}

/** DropdownMenu - navbar **/
.house-icon {
    font-size: 20px;
}

.dropdown-menu-extension {
    display: none;
    position: absolute;
    background-color: #070f3d;
    border: 1px solid #303d87;
    color: whitesmoke;
    top: 50px;
    border-radius: 2px;
}

.dropdown-menu-extension-home {
    left: -1px;
    min-width: 105px;
}

.navbar-right .dropdown-menu-extension-user {
    left: 10px;
    min-width: 40px;
}

.navbar-right .dropdown-menu-extension-user li a {
    padding: 5%;
}

.dropdown-menu-extension li a {
    position: relative;
    color: whitesmoke;
    padding: 8%;
    font-size: 12px;
}

.dropdown-menu-extension li a:hover {
    background-color: #69b1f7;
    border-radius: 2px;
    transform: scaleX(1.05);
    transition: 0.3s;
}

.dropdown-extensiom:hover .dropdown-menu-extension {
    display: block;
}

.house-icon:hover {
    text-shadow: 2px 2px 10px #e5fcf3;
}
/** DropdownMenu - navbar **/

.custom-div-button{
    position: relative;
    clear: left;
    width: 25%;
    padding: 15px;
}

/*** Airport IATA code list ***/

.airport-iata-code-list {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: lightblue;
    width: 89.5%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    border-radius: 2px;
}

.airport-iata-code-list li{
    padding: 8px;
}

.airport-iata-code-list li:hover{
    color: whitesmoke;
    background-color: #69b1f7;
}

/*** Airport IATA code list ***/

/*** NotificationBar ***/
#notification {
    background-color: #62ffad;
    color: #000000;
    margin-bottom: 0px;
    display: none;
    text-align: center;
}

#notification_text {
    position: relative;
    font-size: 18px;
}

#notification button {
    font-size: 25px;
}
/*** NotificationBar ***/

.separate-flights{
    background-color: #5bc0ee;
}

.inbound-outbound-header{
    background-color: #cef2f8;
}

.results-tableheader{
    background-color: #d3d3d3;
}

.results-span-shared-values{
    position: relative;
    top: 50px;
}

.table tbody > tr > .results-td-shared-values {
    /*padding: 5%;*/
    text-align: center;
}

