body{
    background-color: #f5f9fa;
}

footer{
    position: absolute;
    bottom: 5%;
    width: 80%;
}

.top-navabar-extension {
    background-color: #070f3d;
}

/** DropdownMenu - navbar **/
.house-icon {
    font-size: 20px;
}

.dropdown-menu-extension {
    display: none;
    position: absolute;
    background-color: #070f3d;
    border: 1px solid #303d87;
    color: whitesmoke;
    top: 50px;
    border-radius: 2px;
}

.dropdown-menu-extension-home {
    left: -1px;
    min-width: 105px;
}

.navbar-right .dropdown-menu-extension-user {
    left: 10px;
    min-width: 40px;
}

.navbar-right .dropdown-menu-extension-user li a {
    padding: 5%;
}

.dropdown-menu-extension li a {
    position: relative;
    color: whitesmoke;
    padding: 8%;
    font-size: 12px;
}

.dropdown-menu-extension li a:hover {
    background-color: #69b1f7;
    border-radius: 2px;
    transform: scaleX(1.05);
    transition: 0.3s;
}

.dropdown-extensiom:hover .dropdown-menu-extension {
    display: block;
}

.house-icon:hover {
    text-shadow: 2px 2px 10px #e5fcf3;
}
/** DropdownMenu - navbar **/

/*** NotificationBar ***/
#notification {
    background-color: rgba(92, 184, 92, 0.82);
    color: #000000;
    margin-bottom: 0px;
    display: none;
}

#notification span {
    position: relative;
    left: 43%;
    font-size: 20px; 
}

#notification button {
    font-size: 30px; 
}
/*** NotificationBar ***/

/*** Admin settings ***/
.admin-settings a {
    float: none;
}

.admin-settings a:hover {
    background-color: #69b1f7;
    color: whitesmoke;
}
/*** Admin settings ***/

.custom-div-button{
    position: relative;
    clear: left;
    width: 25%;
    padding: 15px;
}